<p>Biztos, hogy törölni akarod magadat, <%= session[:logged_in] %>?
<form action="/user/del" method="Post">
<p><input type="submit" name="del" value="igen" />  <input type="submit" name="del" value="mégsem" />
</form>
